html {
    scroll-behavior: smooth;
    
}

body {
    font-family: 'Open Sans', sans-serif;
    margin: 0px;
    -ms-overflow-style: none;
    scrollbar-width: none;
}

body::-webkit-scrollbar {
    display: none;
}


h2 {
    font-family: 'Roboto', sans-serif;
}

/* Styling for top menu bar */
.menuBar {
    background-color: #212529;
    overflow: hidden;
    font-size: small;
    float: inherit;
    color: white;
    margin: auto;
    padding-left: 40%;
    
}

/* Styling for Home Page */
.parallax {
    background-image: url("bg.jpg");
    min-height: 100vh;
    width: auto;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

svg {
    fill: white;
}

.parallaxContent {
    position: absolute;
    top: 50%;
    left: 30vw;
    margin: -100px 0 0 -150px;
    /* font-family: 'Montserrat', sans-serif; */
    font-family: 'Roboto', sans-serif;
    color: white;
    line-height: 20px; 
    
}

.parallaxContent h1 {
    /* font-family: 'Montserrat', sans-serif; */
    font-weight: 100;
    font-size: 60px;
    
}

.parallaxContent h2 {
    
    font-weight: 200;
    
}

/* Inspired from https://codepen.io/xonic/pen/KWMaqe */
  
  .container {
    position: absolute;
    width: 24px;
    height: 24px;
    justify-content: center;
    align-items: center;
    top: 50%;
    left: 50%;
    /* margin-top: 350px; */
    margin-top: 34vh;
  }
  

  .chevron {
      display: flex;
    position: absolute;
    width: 28px;
    height: 8px;
    opacity: 0;
    transform: scale3d(0.5, 0.5, 0.5);
    animation: move 3s ease-out infinite;
  }
  
  .chevron:first-child {
    animation: move 3s ease-out 1s infinite;
  }
  
  .chevron:nth-child(2) {
    animation: move 3s ease-out 2s infinite;
  }
  
  .chevron:before,
  .chevron:after {
    content: ' ';
    position: absolute;
    top: 0;
    height: 100%;
    width: 51%;
    background: #fff;
  }
  
  .chevron:before {
    left: 0;
    transform: skew(0deg, 30deg);
  }
  
  .chevron:after {
    right: 0;
    width: 50%;
    transform: skew(0deg, -30deg);
  }
  
  @keyframes move {
    25% {
      opacity: 1;
  
    }
    33% {
      opacity: 1;
      transform: translateY(30px);
    }
    67% {
      opacity: 1;
      transform: translateY(40px);
    }
    100% {
      opacity: 0;
      transform: translateY(55px) scale3d(0.5, 0.5, 0.5);
    }
  }
  
  .text {
    display: block;
    margin-top: 75px;
    margin-left: -30px;
    font-family: "Helvetica Neue", "Helvetica", Arial, sans-serif;
    font-size: 12px;
    color: #fff;
    text-transform: uppercase;
    white-space: nowrap;
    opacity: .25;
    animation: pulse 2s linear alternate infinite;
  }
  
  @keyframes pulse {
    to {
      opacity: 1;
    }
  }

/* Styling for Side Navigation */
nav {
    position: sticky;
    top: 5%;
    left: 45px;
    z-index: 1000;
    font-size: 11px;
    letter-spacing: 2px;
    -webkit-font-smoothing: subpixel-antialiased;
    float: left;
    padding-top: 10%;
    display: block;
}

nav li.section {
    margin: 0px 0 25px 0;
}

nav ul li a {
    color: #aaaaaa;
    text-transform: uppercase;
    transition-property: color;
    transition-duration: 200ms;
}

nav ul {
    list-style: none;
    list-style-position: outside;
    margin: 0 0 10px 0;
    line-height: 22px;
}

nav a {
    text-decoration: none;
    outline: none;
}

nav a:hover {
    color: #212529;
}

/* nav a.active {
    font font-weight: bold;
    color: red;
    
}  */


/* Sets Main Page Content Padding */
.pageContent {
    /* padding: 0% 20% 0% 20%; */
    padding-top: 50px;
    color: #676767;
    font-size: 18px;
    font-family: "Open Sans";
    line-height: 30px;
    letter-spacing: 0px;
    font-weight: 400px;
    line-height: 1.5;
    display: flex;
    flex-direction:column;
    justify-content: center;
    align-content: flex-end;
    margin: auto;
    width: 50%;
    
}

.pageContent h2, strong {
    color: #212529;
}

.pageContent strong {
    font-weight: 800px;
}

a:hover {
    color: #212529;
    
}

table, th, td {
    float: left;
    border: solid;

}

table {
    table-layout: fixed;
}

th {
    width: 50%;
}

.subText {
    font-weight: normal;
}



